<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/ico" href="~/Content/screen-and-keyboard-16.png"  />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style>
        body, body *{
            font-family: 'Microsoft JhengHei';
        }
        .btn {
            border-radius: 0px 0px;
        }
        .btn:hover{
            box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }
        .customSelect{
            width:auto!important;
            font-size: 24px;
            color: #555;
            background-color: #fff;
            border: 1px solid #ccc;
        }
        .customInputNum{
            text-align:center;
            width:8%;
            font-size: 24px;
            color: #555;
            background-color: #fff;
            border: 1px solid #ccc;
        }

        .navbar-inverse{
            background-color:#2a4286;
            border-color: #97aef1;
        }
        .navbar-inverse .navbar-brand{
            color:#fff;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("DBAccess元件面板", "Index", "Demo", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div style="padding:1% 2%">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @@ DB Tables Search Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>
    @RenderSection("scripts",false);
</body>
</html>