@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Result", "Demo", FormMethod.Post, new { @id = "DbPostForm" }))
{
    @Html.AntiForgeryToken()


    <div class="alert alert-info" style="padding:10px;">
        <input type="button" class="btn btn-primary" id="searchDbList" value="取得資料庫列表" />
        <span style="font-size:20px">@Html.Raw("　DataBase: &nbsp;")</span>
        <select id="selectDB" class="customSelect" data-live-search="true">
            <option>master</option>
        </select>
    </div>

        <div>
            <span style="font-size:20px">@Html.Raw("資料表: &nbsp;")</span>
            <select id="selectTable" class="customSelect" data-live-search="true">
                <option>尚未按下取得</option>
            </select>
            <br /><br />
            <span style="font-size:20px">@Html.Raw("檢視表: &nbsp;")</span>
            <select id="selectView" class="customSelect" data-live-search="true">
                <option>尚未按下取得</option>
            </select>
            <input type="button" class="btn btn-default btn-sm" style="display:none" value="取得Code" id="getViewCode" />
            <br /><br />
            <span style="font-size:20px">@Html.Raw("預存程序: &nbsp;")</span>
            <select id="selectStoreProcedure" class="customSelect" data-live-search="true">
                <option>尚未按下取得</option>
            </select>
            <input type="button" class="btn btn-default btn-sm" style="display:none" value="取得Code" id="getSPCode" />
        </div>
        <hr />


        <h4>CommandType</h4>
        <select name="CommandType" class="customSelect">
            <option value="1">Text</option>
            <option value="4">StoredProcedure</option>
            <option value="512">TableDirect</option>
        </select>

        <span>&nbsp;TOP：</span><input type="number" id="topSQL" value="200" class="customInputNum" />
        <hr />

        <h4>逾時時間</h4>

        <input type="number" name="TimeOut" value="5" class="customInputNum" /><span>秒</span>
        <hr />
        <h4>SQL指令</h4>
        <textarea type="text" name="Sql" placeholder="輸入完整SQL敘述或預存程序名稱" style="font-size:20px;resize: none;overflow:auto;width: 100%;box-sizing: border-box;height: 250px;" required></textarea>

        <hr />

        <h4>SQL Parameter參數 　<input id="addParameter" type="button" value="+" /> <input id="removeParameter" type="button" value="-" /> </h4>
        <h5>輸入方向　　參數名稱　　　　　　　Value　　　　　　　　DB型別　　　Size　　　　　　　　　Precision　　　　　　　Scale</h5>

        <div id="paraDiv"></div>


        <hr />
        <input type="button" id="btnSubmit" class="btn btn-success btn-lg" value="查詢和執行 (Submit)" width="15%" />
        <span id="resultMsg"></span>


}


<hr />

<iframe src="@Url.Action("Result","Demo")" id="resultFrame" width="100%" height="600" style="display:none"></iframe>

<div class="alert" style="background-color:#e2eec4">
    <h4>歷史查詢紀錄:</h4>
    <ul id="historyList" style="list-style-type:circle"></ul>
</div>

@section scripts{
    <script>
        //共用的參數row
        var row = 0;

        // 產生SQL Parameter Div
        function GenerateParameterDiv(name) {
            var html =
                '                                                                                                     \
                      <div id=sqlPara' + row + ' >                                                                               \
                      <select name="SqlParameterResourceList[' + row + '].Direction">                                          \
                          <option value="Input">Input</option>                                                               \
                          <option value="OutPut">OutPut</option>                                                             \
                      </select>                                                                                              \
                                                                                                                             \
                      <input name="SqlParameterResourceList[' + row + '].Name" placeholder="Name" value=' + name + ' />               \
                      <input name="SqlParameterResourceList[' + row + '].Value" placeholder="Value" />                           \
                      <select name="SqlParameterResourceList[' + row + '].SqlDbType">                                             \
                           <option value="8">int</option>                                                                  \
                           <option value="22">varchar</option>                                                             \
                           <option value="12">nvarchar</option>                                                                \
                           <option value="10">nchar</option>                                                                \
                           <option value="5">decimal</option>                                                                  \
                           <option value="4">datetime</option>                                                                     \
                           <option value="31">date</option>                                                                     \
                           <option value="20">tinyint</option>                                                                     \
                           <option value="3">char</option>                                                                     \
                           <option value="6">float</option>                                                                     \
                           <option value="21">varbinary</option>                                                                     \
                      </select>                                                                                               \
                                                                                                                              \
                      <input name="SqlParameterResourceList[' + row + '].Size" placeholder="Size" />                           \
                      <input name="SqlParameterResourceList[' + row + '].Precision" placeholder="Precision" />             \
                      <input name="SqlParameterResourceList[' + row + '].Scale" placeholder="Scale" />                        \
                      <br />                                                                                                 \
                      </div>                                                                                             \
                    '
            var paraDiv = $(html);
            
            return paraDiv;
        };

        // 取出localStorage內的歷史搜尋
        function ArrayLoad() {
            var array = JSON.parse(localStorage.getItem("historyArr")); // 取出localStorage內的歷史搜尋
            if (!array) {
                array = [];
            }

            $("#historyList").find('li').remove();

            $.each(array, function (i, item) {
                $("#historyList").append("<li><a href='#' class='quickHistory'>" + item + "</a></li>");
            });
            //按下歷史查詢事件綁定
            $(".quickHistory").on('click', function () {
                $("textarea[name='Sql']").val($(this).text());
            });
            return array;

        }


        // --- 內層開始 ---
        $(function () {
            // 起始讀取歷史搜尋紀錄
            var historyArr = ArrayLoad(); // 取出localStorage內的歷史搜尋

            // 動態增加參數
            $("#addParameter").on('click', function () {

                var dom = GenerateParameterDiv("@@");
                $("#paraDiv").append(dom);

                row++;
            });

            // 動態減少參數
            $("#removeParameter").on('click', function () {
                if (row > 0) {
                    $('#paraDiv div').last().remove();
                    row--;
                }
            });

            // 傳送表單
            $("#btnSubmit").on('click', function (e) {
                $('#resultFrame').hide();
                //一些驗證...
                var sql = $("textarea[name='Sql']").val();
                if (!sql) {
                    alert("未填寫任何的SQL指令!");
                    return;
                }

                //判斷是Text 增加Use DB敘述
                if ($("select[name='CommandType']").val() == 1) {
                    $("textarea[name='Sql']").val("USE " + $("#selectDB").val() + " \n" + sql);
                };


                var form = $("#DbPostForm");
                var resultMsgSpan = $("#resultMsg");
                resultMsgSpan.html("<span class='text-warning'>查詢中 ..... zzz</span>")
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: form.serialize(), // serializes the form's elements.
                    success: function (data) {
                        resultMsgSpan.html("<span class='text-success'>查詢成功</span>");
                        $('#resultFrame').show();
                        //refresh iFrame
                        $('#resultFrame').attr('src', $('#resultFrame').attr('src'));



                        // 加到歷史搜尋
                        if (!historyArr.includes(sql)) { //判斷不重複
                            // 歷史超過10筆 取出最左邊的Item (注意array為初始化時候的判斷)
                            if (typeof historyArr !== 'undefined' && historyArr.length > 9) {
                                historyArr.shift(); // 取陣列最左
                            }
                            historyArr.push(sql); //加入新搜尋的sql
                        }
                        localStorage.setItem("historyArr", JSON.stringify(historyArr)); //儲存到localStorage
                        ArrayLoad(); //更新
                    },
                    error: function (xhr) {
                        $("#resultMsg").html("<span class='text-danger'>" + JSON.parse(xhr.responseText).Error + "</span>");
                    }
                });
            })

            // 取得資料庫列表: 獲得DB Select Option選單
            $("#searchDbList").on('click', function () {
                $("#getViewCode").show(); $("#getSPCode").show();

                var selectDB = $("#selectDB");

                $.ajax({
                    type: "Post",
                    url: '@Url.Action("GetDataBaseList","Demo")',
                    data: {
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (data) {
                        selectDB.empty();
                        $.each(data, function (i, item) {
                            selectDB.append('<option value="'
                                                 + item.Name
                                                 + '">'
                                                 + item.Name
                                                 + '</option>');
                        });

                        //變成bootstrap-select 樣式
                        selectDB.selectpicker({
                            size: 15
                        });
                        selectDB.selectpicker('refresh');

                        selectDB.trigger('change');
                    },
                    error: function (xhr) {
                        $("#resultMsg").html("<span class='text-danger'>" + JSON.parse(xhr.responseText).Error + "</span>");
                    }
                });
            });

            // Select DB 下拉改變 獲得Table View SP
            $("#selectDB").on('change', function () {
                var selectTable = $("#selectTable");
                var selectV = $("#selectView");
                var selectSP = $("#selectStoreProcedure");
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("GetTableViewAndSPList", "Demo")',
                    data: {
                        dbName: $("#selectDB").val(),
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (data) {
                        selectTable.find('option').remove();
                        selectV.find('option').remove();
                        selectSP.find('option').remove();

                        //增加Table Select Option
                        $.each(data.Tables, function (i, item) {
                            selectTable.append('<option value="'
                                                    + item.Name
                                                    + '">'
                                                    + item.Name
                                                    + '</option>');
                        });

                        //增加View Select Option
                        $.each(data.Views, function (i, item) {
                            selectV.append('<option value="'
                                                 + item.Name
                                                 + '">'
                                                 + item.Name
                                                 + '</option>');
                        });

                        //增加SP Select Option
                        $.each(data.SPs, function (i, item) {
                            selectSP.append('<option value="'
                                                 + item.Name
                                                 + '">'
                                                 + item.Name
                                                 + '</option>');
                        });

                        //變成bootstrap-select 樣式
                        selectTable.selectpicker({
                            size: 15
                        });
                        selectV.selectpicker({
                            size: 15
                        });
                        selectSP.selectpicker({
                            size: 15
                        });


                        //更新bootstrap-select
                        selectTable.selectpicker('refresh');
                        selectV.selectpicker('refresh');
                        selectSP.selectpicker('refresh');

                        selectTable.trigger('change');

                    },
                    error: function (xhr) {
                        $("#resultMsg").html("<span class='text-danger'>" + JSON.parse(xhr.responseText).Error + "</span>");
                    }
                });
            });
            //取得ViewCode
            $("#getViewCode").on('click', function () {
                dbName= $("#selectDB").val();
                viewName= $("#selectView").val();

                popitup('@Url.Action("SPOrViewCodes","Demo")?dbName=' + dbName + '&spOrViewName=' + viewName + '&type=V')

            });
            //取得SPCode
            $("#getSPCode").on('click', function () {
                dbName = $("#selectDB").val();
                spName = $("#selectStoreProcedure").val();

                popitup('@Url.Action("SPOrViewCodes","Demo")?dbName=' + dbName + '&spOrViewName=' + spName + '&type=P')
            });
            function popitup(url) {
                var newwindow = window.open(url, 'Code原始碼', 'scrollbars=yes, menubar=no,resizable=no,directories=no,location=no,height=480,width=640');
                if (window.focus) { newwindow.focus() }
                return false;
            }

            // Select Table 下拉改變
            $("#selectTable").on('change', function () {
                //清除參數
                $('#paraDiv div').empty();
                row = 0; //重置row
                //CommandType下拉改變
                $("select[name='CommandType']").val(1);
                $("textarea[name='Sql']").val("select Top(" + $("#topSQL").val() + ") * from [" + $("#selectDB").val() + "].[dbo].[" + $(this).val() + "]");
            });

            // Select View 下拉改變
            $("#selectView").on('change', function () {
                //清除參數
                $('#paraDiv div').empty();
                row = 0; //重置row
                //CommandType下拉改變
                $("select[name='CommandType']").val(1);
                $("textarea[name='Sql']").val("select Top(" + $("#topSQL").val() + ") * from [" + $("#selectDB").val() + "].[dbo].[" + $(this).val() + "]");
            });


            // Select SP 下拉改變
            $("#selectStoreProcedure").on('change', function () {
                $("select[name='CommandType']").val(4);

                $("textarea[name='Sql']").val("[" + $("#selectDB").val() + "]" + ".[dbo].[" + $(this).val() + "]");
                row = 0; //重置row
                //取得SP的參數
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("GetSpNeedParameters", "Demo")',
                    data: {
                        dbName: $("#selectDB").val(),
                        spName: $("#selectStoreProcedure").val(),
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (data) {
                        $("#paraDiv").empty();
                        $.each(data, function (i, item) {
                            var dom = GenerateParameterDiv(item.Parameter);
                            $("#paraDiv").append(dom);

                            //改變 SqlParameter Input or Output下拉參數選項
                            var selDirection = $("select[name='SqlParameterResourceList[" + row + "].Direction']");
                            switch (item.OutPut) {
                                case 0: //Input
                                    selDirection.val('Input');
                                    break;
                                case 1: //Output
                                    selDirection.val('OutPut');
                                    break;
                            }

                            //改變 SqlParameter Value 下拉參數選項
                            $("select[name='SqlParameterResourceList[" + row + "].SqlDbType'] > option")
                                .each(function () {
                                    if ($(this).text() == item.Type) $(this).parent('select').val($(this).val())
                                });


                            //改變 Size, Precision, Scale
                            $("input[name='SqlParameterResourceList[" + row + "].Size']").val(item.Size);
                            $("input[name='SqlParameterResourceList[" + row + "].Precision']").val(item.Precision);
                            $("input[name='SqlParameterResourceList[" + row + "].Scale']").val(item.Scale);


                            row++;
                        });
                    },
                    error: function (xhr) {
                        $("#resultMsg").html("<span class='text-danger'>" + JSON.parse(xhr.responseText).Error + "</span>");
                    }
                });
            });

        });
        // --- 內層結束 ---

    </script>
}
